<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:name=".EmberrApplication"
        android:theme="@style/Theme.Emberr.Splash"
        android:windowSoftInputMode="adjustResize"
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:theme="@style/Theme.Emberr.Splash"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".domain.reminders.AndroidReminderReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".domain.reminders.AndroidReminderBootReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".presentation.widget.note.NoteWidgetReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="@string/note_widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/note_widget_info" />
        </receiver>

        <receiver
            android:name=".presentation.widget.tasks.TasksWidgetReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="@string/tasks_widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tasks_widget_info" />
        </receiver>

        <activity
            android:name=".presentation.widget.tasks.TasksWidgetPickerActivity"
            android:exported="true"
            android:label="@string/tasks_widget_label"
            android:theme="@style/Theme.Emberr">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".presentation.widget.notelist.NoteListWidgetReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="@string/note_list_widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/note_list_widget_info" />
        </receiver>

        <activity
            android:name=".presentation.widget.notelist.NoteListWidgetPickerActivity"
            android:exported="true"
            android:label="@string/note_list_widget_label"
            android:theme="@style/Theme.Emberr">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".presentation.widget.noteshortcut.NoteShortcutWidgetReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="@string/note_shortcut_widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/note_shortcut_widget_info" />
        </receiver>

        <activity
            android:name=".presentation.widget.noteshortcut.NoteShortcutWidgetPickerActivity"
            android:exported="true"
            android:label="@string/note_shortcut_widget_label"
            android:theme="@style/Theme.Emberr">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".presentation.widget.todaytasks.TodayTasksWidgetReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="@string/today_tasks_widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/today_tasks_widget_info" />
        </receiver>

        <activity
            android:name=".presentation.widget.todaytasks.TodayTasksWidgetPickerActivity"
            android:exported="true"
            android:label="@string/today_tasks_widget_label"
            android:theme="@style/Theme.Emberr">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".presentation.widget.calendaragenda.CalendarAgendaWidgetReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="@string/calendar_agenda_widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calendar_agenda_widget_info" />
        </receiver>

        <activity
            android:name=".presentation.widget.calendaragenda.CalendarAgendaWidgetPickerActivity"
            android:exported="true"
            android:label="@string/calendar_agenda_widget_label"
            android:theme="@style/Theme.Emberr">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".presentation.widget.calendaragenda.CalendarAgendaWidgetActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.emberr.widget.calendaragenda.SHOW_PREVIOUS_MONTH" />
                <action android:name="com.emberr.widget.calendaragenda.SHOW_NEXT_MONTH" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".presentation.widget.upcomingevents.UpcomingEventsWidgetReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="@string/upcoming_events_widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/upcoming_events_widget_info" />
        </receiver>

        <activity
            android:name=".presentation.widget.upcomingevents.UpcomingEventsWidgetPickerActivity"
            android:exported="true"
            android:label="@string/upcoming_events_widget_label"
            android:theme="@style/Theme.Emberr">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".presentation.widget.calendar.CalendarWidgetReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="@string/calendar_widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/calendar_widget_info" />
        </receiver>

        <activity
            android:name=".presentation.widget.calendar.CalendarWidgetPickerActivity"
            android:exported="true"
            android:label="@string/calendar_widget_label"
            android:theme="@style/Theme.Emberr">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".presentation.widget.calendar.CalendarWidgetActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.emberr.widget.calendar.SHOW_PREVIOUS_MONTH" />
                <action android:name="com.emberr.widget.calendar.SHOW_NEXT_MONTH" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".presentation.widget.todaytasks.TodayTasksWidgetActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.emberr.widget.todaytasks.TOGGLE_TASK" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".presentation.widget.tasks.TasksWidgetActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.emberr.widget.tasks.TOGGLE_COMPLETED_VIEW" />
                <action android:name="com.emberr.widget.tasks.TOGGLE_TASK" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".presentation.widget.note.NoteWidgetPickerActivity"
            android:exported="true"
            android:label="@string/note_widget_label"
            android:theme="@style/Theme.Emberr">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />
    </application>

</manifest>